{% extends 'base.html.twig' %}

{% block CONTENIDO %}
    <h1>Catalogomodelos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Marcaid</th>
                <th>Nombremodelo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catalogoModelo in catalogoModelos %}
            <tr>
                <td><a href="{{ path('catalogomodelo_show', { 'id': catalogoModelo.id }) }}">{{ catalogoModelo.id }}</a></td>
                <td>{{ catalogoModelo.marca.nombreMarca }}</td>
                <td>{{ catalogoModelo.nombreModelo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('catalogomodelo_show', { 'id': catalogoModelo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('catalogomodelo_edit', { 'id': catalogoModelo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('catalogomodelo_new') }}">Create a new catalogoModelo</a>
        </li>
    </ul>
{% endblock %}
