{% extends 'base.html.twig' %}

{% block CONTENIDO %}
    <h1>Catalogomodelo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ catalogoModelo.id }}</td>
            </tr>
            <tr>
                <th>Marcaid</th>
                <td>{{ catalogoModelo.marca.nombreMarca }}</td>
            </tr>
            <tr>
                <th>Nombremodelo</th>
                <td>{{ catalogoModelo.nombreModelo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('catalogomodelo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('catalogomodelo_edit', { 'id': catalogoModelo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
