{% extends 'base.html.twig' %}

{% block CONTENIDO %}
    <h1>Catalogogeneros list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombregenero</th>
                <th>Descripciongenero</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catalogoGenero in catalogoGeneros %}
            <tr>
                <td><a href="{{ path('catalogogenero_show', { 'id': catalogoGenero.id }) }}">{{ catalogoGenero.id }}</a></td>
                <td>{{ catalogoGenero.nombreGenero }}</td>
                <td>{{ catalogoGenero.descripcionGenero }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('catalogogenero_show', { 'id': catalogoGenero.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('catalogogenero_edit', { 'id': catalogoGenero.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('catalogogenero_new') }}">Create a new catalogoGenero</a>
        </li>
    </ul>
{% endblock %}
