{% extends 'base.html.twig' %}

{% block CONTENIDO %}
    <h1>Catalogogenero</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ catalogoGenero.id }}</td>
            </tr>
            <tr>
                <th>Nombregenero</th>
                <td>{{ catalogoGenero.nombreGenero }}</td>
            </tr>
            <tr>
                <th>Descripciongenero</th>
                <td>{{ catalogoGenero.descripcionGenero }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('catalogogenero_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('catalogogenero_edit', { 'id': catalogoGenero.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
