{% extends 'base.html.twig' %}

{% block CONTENIDO %}
    <h1>Catalogomarcas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombremarca</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catalogoMarca in catalogoMarcas %}
            <tr>
                <td><a href="{{ path('catalogomarca_show', { 'id': catalogoMarca.id }) }}">{{ catalogoMarca.id }}</a></td>
                <td>{{ catalogoMarca.nombreMarca }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('catalogomarca_show', { 'id': catalogoMarca.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('catalogomarca_edit', { 'id': catalogoMarca.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('catalogomarca_new') }}">Create a new catalogoMarca</a>
        </li>
    </ul>
{% endblock %}
