{% extends 'base.html.twig' %}

{% block CONTENIDO %}
    <h1>Catalogomarca</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ catalogoMarca.id }}</td>
            </tr>
            <tr>
                <th>Nombremarca</th>
                <td>{{ catalogoMarca.nombreMarca }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('catalogomarca_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('catalogomarca_edit', { 'id': catalogoMarca.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
