<!-- Bootstrap core CSS-->
<link href="{{ asset('bundles/vehiculostemplate/') }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ asset('bundles/vehiculostemplate/') }}css/style.css" rel="stylesheet">
<link href="{{ asset('bundles/vehiculostemplate/') }}css/responsive.css" rel="stylesheet">
