<!-- Bootstrap core JavaScript-->
<script src="{{ asset('bundles/vehiculostemplate/') }}vendor/jquery/jquery.min.js"></script>
<script src="{{ asset('bundles/vehiculostemplate/') }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>