<!-- Core plugin JavaScript-->
<script src="{{ asset('bundles/vehiculostemplate/') }}vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="{{ asset('bundles/vehiculostemplate/') }}vendor/chart.js/Chart.min.js"></script>
<script src="{{ asset('bundles/vehiculostemplate/') }}vendor/datatables/jquery.dataTables.js"></script>
<script src="{{ asset('bundles/vehiculostemplate/') }}vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Assect scripts for this page-->
<script src="{{ asset('bundles/vehiculostemplate/') }}assets/vendors/jquery.min.js"></script>
<script src="{{ asset('bundles/vehiculostemplate/') }}assets/owlcarousel/owl.carousel.js"></script>
<script src="{{ asset('bundles/vehiculostemplate/') }}assets/vendors/highlight.js"></script>
<script src="{{ asset('bundles/vehiculostemplate/') }}assets/js/app.js"></script>
<!-- Demo scripts for this page-->
<script src="{{ asset('bundles/vehiculostemplate/') }}js/slick.min.js"></script>.