<!-- Custom fonts for this template-->
<link href="{{ asset('bundles/vehiculostemplate/') }}vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<!-- Custom styles for this template-->
<link href="{{ asset('bundles/vehiculostemplate/') }}css/sb-admin.css" rel="stylesheet" type="text/css">
<link href="{{ asset('bundles/vehiculostemplate/') }}css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="{{ asset('bundles/vehiculostemplate/') }}css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/vehiculostemplate/') }}assets/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="{{ asset('bundles/vehiculostemplate/') }}assets/owlcarousel/assets/owl.theme.default.min.css">