<footer class="sticky-footer col-md-12">
  <div class="container my-auto">
	<div class="copyright text-center my-auto">
	 
	<div class="footer-info">
				<a href="#">About </a> | 
				<a href="#">Faq’s </a> | 
				<a href="#">Privacy</a>
				<a href="#"> Advertise</a>  | 
				<a href="#">Term & Conditions </a>
				<a href="#">Sitemap  </a>| 
				<a href="#">Tags  </a>| 
				<a href="#">Blog</a>
			</div>
			<div class="copy-right">
			<a href="#" target="_blank">Base De Datos Ciclo I 2019</a>
			</div>
	</div>
  </div>
</footer>