<!-- Page level plugin CSS-->
<link rel="stylesheet" href="{{ asset('bundles/vehiculostemplate/') }}css/portfolio.css" type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/vehiculostemplate/') }}css/dropdown.css" type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/vehiculostemplate/') }}css/owlslider.css" type="text/css">