<!-- Custom scripts for all pages-->
<script src="{{ asset('bundles/vehiculostemplate/') }}js/sb-admin.min.js"></script>
<script src="{{ asset('bundles/vehiculostemplate/') }}js/portfolio.js"></script>
<script src="{{ asset('bundles/vehiculostemplate/') }}js/you-listing.js"></script>
<script src="{{ asset('bundles/vehiculostemplate/') }}js/menurght.js"></script>
<script src="{{ asset('bundles/vehiculostemplate/') }}js/crausal1.js"></script>
<script src="{{ asset('bundles/vehiculostemplate/') }}js/dropdown.js"></script>