<!-- Sidebar -->
<ul class="sidebar navbar-nav">
	<li class="nav-item active">
		<a href="index-2.html"><img src="{{ asset('bundles/vehiculostemplate/') }}images/menu-icon/Homeicon.png" title="" alt=""> 
			<div class="fos" id="foo">Home</div>
		</a>
	</li>
	<li>
		<a href="listing.html"><img src="{{ asset('bundles/vehiculostemplate/') }}images/menu-icon/Categoryicon.png" title="" alt="">
			<div class="fos" id="foo1"> Listing </div> 
		</a>
	</li>
	<li>
		<a href="find_profiles.html"><img src="{{ asset('bundles/vehiculostemplate/') }}images/menu-icon/flag.png" title="" alt="">
			<div class="fos" id="foo2">Find Profiles</div>
		</a>
	</li>
	<li class="mpadding"><a href="message.html"><img src="{{ asset('bundles/vehiculostemplate/') }}images/menu-icon/message.png" title="" alt=""><div class="fos" id="foo3"> Messages</div>
	</a>
</li>

<li>
	<a href="saved.html"> <img src="{{ asset('bundles/vehiculostemplate/') }}images/menu-icon/favicon.png" title="" alt="">
		<div class="fos" id="foo4">Saved</div>
	</a>
</li>
<li> 
	<a href="my_profile_view_detail.html"> <img src="{{ asset('bundles/vehiculostemplate/') }}images/menu-icon/eye.png" title="" alt="">
		<div class="fos" id="foo5">Most Viewed</div>
	</a>
</li>
<li> 
	<a href="electronics.html"><img src="{{ asset('bundles/vehiculostemplate/') }}images/menu-icon/Shape.png" title="" alt="">
		<div class="fos" id="foo6">Liked</div>
	</a>
</li>
<li class="mpadding"><a href="{{ path('inventarioimportadorvehiculo_index') }}"><img src="{{ asset('bundles/vehiculostemplate/') }}images/menu-icon/card-payment.png" title="" alt="">
	<div class="fos" id="foo7">Importadores</div>
</a>
</li>

<li> 
	<a href="{{ path('catalogomarca_index') }}"><img src="{{ asset('bundles/vehiculostemplate/') }}images/menu-icon/info.png" title="" alt="">
		<div class="fos" id="foo8">Marcas</div>
	</a>
</li>
<li> 
	<a href="{{ path('catalogomodelo_index') }}"><img src="{{ asset('bundles/vehiculostemplate/') }}images/menu-icon/setting.png" title="" alt="">
		<div class="fos" id="foo9">Modelos</div>
	</a>
</li>
<li class="mpadding"><a href="{{ path('catalogogenero_index') }}"><img src="{{ asset('bundles/vehiculostemplate/') }}images/menu-icon/user.png" title="" alt="">
	<div class="fos" id="foo10">Generos</div>
</a>
</li>

</ul>