<!DOCTYPE html>
<html lang="en">
<head>
	{# Bloque de Meta informacion #}
	{% block META %}
		{% include 'VehiculosTemplateBundle::DTemplate/DMeta_.html.twig' %}
	{% endblock %}
    {# Fin Bloque de Meta informacion #}

	<link href="images/header/fav.png" rel="shortcut icon" type="image/x-icon"/>
    <title>{% block Titulo %}Automoviles{% endblock %}</title>

    {# Bloque de componentes Bootstrap #}
	{% block BOOTSTRAP_CSS %}
		{% include 'VehiculosTemplateBundle::DTemplate/DBootstrap_CSS_.html.twig' %}
	{% endblock %}
    {# Fin Bloque de componentes Bootstrap #}

    {# Bloque de componentes personalizados #}
	{% block CUSTOM_CSS %}
		{% include 'VehiculosTemplateBundle::DTemplate/DCustom_CSS_.html.twig' %}
	{% endblock %}
    {# Fin Bloque de componentes personalizados #}

    {# Bloque de componentes para portafolio #}
	{% block PORTFOLIO_CSS %}
		{% include 'VehiculosTemplateBundle::DTemplate/DPortfolio_CSS_.html.twig' %}
	{% endblock %}
    {# Fin Bloque de componentes portafolio #}


  </head>

  <body id="page-top">

  	{# Bloque de componentes bootstrap scripts #}
	{% block NAVEGACION %}
		{% include 'VehiculosTemplateBundle::DTemplate/DNav_.html.twig' %}
	{% endblock %}
    {# Fin Bloque de componentes barra de navegacion #}

    <div id="wrapper">
	    {# Bloque de componentes bootstrap scripts #}
		{% block SIDEBAR %}
			{% include 'VehiculosTemplateBundle::DTemplate/DSidebar_.html.twig' %}
		{% endblock %}
	    {# Fin Bloque de componentes barra de navegacion #}
		<div id="content-wrapper">
			<div class="container-fluid">
			 {# Bloque de componentes del cuerpo de la pagina #}
			{% block CONTENIDO %}
			{% endblock %}
			{# Fin bloque de componentes del cuerpo de la pagina #}

			{# Bloque de componentes para pie de pagina #}
			{% block FOOT %}
				{% include 'VehiculosTemplateBundle::DTemplate/DFooter_.html.twig' %}
			{% endblock %}
		    {# Fin Bloque de componentes pie de pagina #}

		</div>
      <!-- /.content-wrapper -->
    </div>
	</div>
    <!-- /#wrapper -->
	
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {# Bloque de componentes bootstrap scripts #}
	{% block BOOTSTRAP_JS %}
		{% include 'VehiculosTemplateBundle::DTemplate/DBootstrap_JS_.html.twig' %}
	{% endblock %}
    {# Fin Bloque de componentes bootstrap scripts #}

    {# Bloque de componentes bootstrap scripts #}
	{% block CUSTOM_JS %}
		{% include 'VehiculosTemplateBundle::DTemplate/DCustom_JS_.html.twig' %}
	{% endblock %}
    {# Fin Bloque de componentes bootstrap scripts #}
   
    {# Bloque de componentes portafolio scripts #}
    {% block PORTFOLIO_JS %}
    	{% include 'VehiculosTemplateBundle::DTemplate/DPortfolio_JS_.html.twig' %}
	{% endblock %}
	{# Fin bloque de componentes portafolio scripts #}
	
  </body>
</html>
