{% extends 'base.html.twig' %}

{% block CONTENIDO %}
    <h1>Inventarioimportadorvehiculos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombreimportador</th>
                <th>Apellidoimportador</th>
                <th>Fechanacimientoimportador</th>
                <th>Direccionimportador</th>
                <th>Telefonocelularimportador</th>
                <th>Telefonofijoimportador</th>
                <th>Personaresponsableimportador</th>
                <th>Correoelectronicoimportador</th>
                <th>Apellidocasadaimportador</th>
                <th>Nitimportador</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inventarioImportadorVehiculo in inventarioImportadorVehiculos %}
            <tr>
                <td><a href="{{ path('inventarioimportadorvehiculo_show', { 'id': inventarioImportadorVehiculo.id }) }}">{{ inventarioImportadorVehiculo.id }}</a></td>
                <td>{{ inventarioImportadorVehiculo.nombreImportador }}</td>
                <td>{{ inventarioImportadorVehiculo.apellidoImportador }}</td>
                <td>{% if inventarioImportadorVehiculo.fechaNacimientoImportador %}{{ inventarioImportadorVehiculo.fechaNacimientoImportador|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ inventarioImportadorVehiculo.direccionImportador }}</td>
                <td>{{ inventarioImportadorVehiculo.telefonoCelularImportador }}</td>
                <td>{{ inventarioImportadorVehiculo.telefonoFijoImportador }}</td>
                <td>{{ inventarioImportadorVehiculo.personaResponsableImportador }}</td>
                <td>{{ inventarioImportadorVehiculo.correoElectronicoImportador }}</td>
                <td>{{ inventarioImportadorVehiculo.apellidoCasadaImportador }}</td>
                <td>{{ inventarioImportadorVehiculo.nitimportador }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('inventarioimportadorvehiculo_show', { 'id': inventarioImportadorVehiculo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('inventarioimportadorvehiculo_edit', { 'id': inventarioImportadorVehiculo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('inventarioimportadorvehiculo_new') }}">Create a new inventarioImportadorVehiculo</a>
        </li>
    </ul>
{% endblock %}
