{% extends 'base.html.twig' %}

{% block CONTENIDO %}
    <h1>Inventarioimportadorvehiculo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inventarioImportadorVehiculo.id }}</td>
            </tr>
            <tr>
                <th>Nombreimportador</th>
                <td>{{ inventarioImportadorVehiculo.nombreImportador }}</td>
            </tr>
            <tr>
                <th>Apellidoimportador</th>
                <td>{{ inventarioImportadorVehiculo.apellidoImportador }}</td>
            </tr>
            <tr>
                <th>Fechanacimientoimportador</th>
                <td>{% if inventarioImportadorVehiculo.fechaNacimientoImportador %}{{ inventarioImportadorVehiculo.fechaNacimientoImportador|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Direccionimportador</th>
                <td>{{ inventarioImportadorVehiculo.direccionImportador }}</td>
            </tr>
            <tr>
                <th>Telefonocelularimportador</th>
                <td>{{ inventarioImportadorVehiculo.telefonoCelularImportador }}</td>
            </tr>
            <tr>
                <th>Telefonofijoimportador</th>
                <td>{{ inventarioImportadorVehiculo.telefonoFijoImportador }}</td>
            </tr>
            <tr>
                <th>Personaresponsableimportador</th>
                <td>{{ inventarioImportadorVehiculo.personaResponsableImportador }}</td>
            </tr>
            <tr>
                <th>Correoelectronicoimportador</th>
                <td>{{ inventarioImportadorVehiculo.correoElectronicoImportador }}</td>
            </tr>
            <tr>
                <th>Apellidocasadaimportador</th>
                <td>{{ inventarioImportadorVehiculo.apellidoCasadaImportador }}</td>
            </tr>
            <tr>
                <th>Nitimportador</th>
                <td>{{ inventarioImportadorVehiculo.nitimportador }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('inventarioimportadorvehiculo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('inventarioimportadorvehiculo_edit', { 'id': inventarioImportadorVehiculo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
